.title {
    font-size: 42px;
    font-weight: 700;
    margin: -10px;
}

.intro {
    font-size: 32px;
    font-weight: 400;
}

.video:hover {
    cursor: pointer;
}

.title2 {
    font-size: 40px;
    font-weight: 700;
    padding: 0;
}

.content p{
    line-height: 1.3;
}

.next-classe {
    margin: 0;
}

.next-classe a {
    font-size: 22px;
    color: red;
    font-weight: 700;
}

.next-classe a:hover{
    text-decoration: none;
    color: red;
}

.classe-col a:hover {
    text-decoration: none;
}

.div-main {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px 0px 6px 6px;
}

.div-main img {
    border-radius: 6px 6px 0px 0px;
    height: 50%;
}

.div-title {
    font-weight: 700;
    font-size: 22px;
    color: #202124;
    line-height: 1.1;
}

.div-text {
    font-weight: 400;
    font-size: 16px;
    color: #A6ADB4;
    line-height: 1.2;
}

